:root {
  --radius: 0.625rem;
  --common-max-width: 600px;
}

@theme inline {
  /* 컨테이너 사이즈 */
  --container-2xl: 1440px;
  --container-xl: 1280px;
  --container-lg: 1024px;
  --container-md: 768px;
  --container-sm: 640px;

  /* 브레이크포인트 */
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;

  /* 반경 크기 */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-xl: calc(var(--radius) + 4px);
}
